
<header>
         <div id="header-sticky" class="header__area header__transparent header__padding">
            <div class="container-fluid">
               <div class="row align-items-center">
                  <div class="col-xxl-2 col-xl-2 col-lg-4 col-md-2 col-sm-4 col-6">
                     <div class="header__left d-flex">
                        <div class="logo">
                           <a href="/">
                              <img src="/static/img/logo/logo.png" alt="logo">
                           </a>
                        </div>

                        <div class="header__category d-none d-lg-block">
                           
                           
                        </div>
                     </div>
                  </div>



<div class="header__right d-flex justify-content-end align-items-center">

  <!-- Desktop menu -->
  <div class="main-menu d-none d-xl-block">
    <nav id="mobile-menu">
      <ul style="white-space: nowrap;">
        <!-- your menu li items unchanged -->
          
                               <li> <a href="/careerpathways/">Career Pathways</a>
                                   <ul class="submenu">
                                    <li><a href="/cloudcareertrack/">Cloud Career Track</a></li>
                                     <li><a href="/cybercareertrack/">Cybersecurity Career Track</a></li>
                                     <li><a href="/devopsautomationtrack/">DevOps & Automation Track</a></li>
                                     <li><a href="/aiworkforcereadinesstrack/">AI Workforce Readiness Track</a></li>
                                   
                                     
                                       </ul>
                                      </li>  

                                 <li>
                                    <a href="/freetraining/">Free Training</a>
                                     <ul class="submenu">
                                     <li><a href="/scholarships/">Scholarships</a></li>
                                     <li><a href="/donorfundedseats/">Donor-Funded Seats</a></li>
                                     <li><a href="/workforcepartners/">Workforce Partners</a></li>
                                    
                                       </ul> 
                                 </li>
                                 
                                  <li>
                                    <a href="/employersanddonors/">For Employers & Donors</a>
                                     <ul class="submenu">
                                     <li><a href="/sponsorcohorts/">Sponsor a Cohort</a></li>
                                     <li><a href="/hiregraduates/">Hire Our Graduates</a></li>
                                     <li><a href="/partnershipopportunities/">Partnership Opportunities</a></li>
                                     <li><a href="/donorfundedseats/">Donor-Funded Seats</a></li>
                                       </ul> 
                                 </li>

                                   <li>
                                    <a href="/resources/">Resources</a>  
                                    <ul class="submenu">
                                     <li><a href="/blogs/">Career Blog</a></li>
                                     <li><a href="/careerday/">Career Day</a></li>
                                     <li><a href="/webinars/">Webinars</a></li>
                                     <li><a href="/meetups/">Meetups</a></li>
                                       </ul>                               
                                      </li>

                                           <li>
                                    <a href="/about/">about</a>
                                    <ul class="submenu">
                                     <li><a href="/misionandvalues/">Mission & Values</a></li>
                                     <li><a href="/ourteam/">Our Team</a></li>
                                     <li><a href="/studentoutcomes/">Student Outcomes</a></li>
                                     
                                       </ul> 
                                 </li>                     

                                <li><a href="/contact/">Contact</a></li>
      </ul>
    </nav>
  </div>

  <!-- (Optional) Desktop search area; keep hidden on mobile -->
  <div class="header__search p-relative ml-50 d-none d-md-block"></div>

  <!-- Desktop apply button -->
  <div class="header__btn ml-20 d-none d-sm-block">
    <a href="/application/" class="e-btn">Apply<i class="fa fa-arrow-right"></i></a>
  </div>

  <!-- Mobile hamburger (NOW NOT inside d-none container) -->
  <div class="sidebar__menu d-xl-none">
    <div class="sidebar-toggle-btn ml-30" id="sidebar-toggle" role="button" aria-label="Open menu" tabindex="0">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
  </div>

</div>

                  </div>
               </div>
            </div>
         </div>
      </header>
