<header>
  <div id="header-sticky" class="header__area header__transparent header__padding">
    <div class="container-fluid">
      <div class="row align-items-center">

        <!-- LEFT: Logo -->
        <div class="col-6 col-lg-4">
          <div class="header__left d-flex align-items-center">
            <div class="logo">
              <a href="/">
                <img src="/static/img/logo/logo.png" alt="logo">
              </a>
            </div>
          </div>
        </div>

        <!-- RIGHT: Desktop menu + Desktop Apply + Mobile Apply + Mobile Hamburger -->
        <div class="col-6 col-lg-8">
          <div class="header__right d-flex justify-content-end align-items-center">

            <!-- Desktop menu (only shows on xl and up) -->
            <div class="main-menu d-none d-xl-block">
              <nav id="mobile-menu">
                <ul style="white-space: nowrap;">
                    <li>
                      <a href="/careerpathways/">Career Pathways</a>
                      <ul class="submenu">
                        <li><a href="/cloudcareertrack/">Cloud Career Track</a></li>
                        <li><a href="/cybercareertrack/">Cybersecurity Career Track</a></li>
                        <li><a href="/devopsautomationtrack/">DevOps & Automation Track</a></li>
                        <li><a href="/aiworkforcereadinesstrack/">AI Workforce Readiness Track</a></li>
                      </ul>
                    </li>

                    <li>
                      <a href="/freetraining/">Free Training</a>
                      <ul class="submenu">
                        <li><a href="/scholarships/">Scholarships</a></li>
                        <li><a href="/donorfundedseats/">Donor-Funded Seats</a></li>
                        <li><a href="/workforcepartners/">Workforce Partners</a></li>
                      </ul>
                    </li>

                    <li>
                      <a href="/employersanddonors/">For Employers & Donors</a>
                      <ul class="submenu">
                        <li><a href="/sponsorcohorts/">Sponsor a Cohort</a></li>
                        <li><a href="/hiregraduates/">Hire Our Graduates</a></li>
                        <li><a href="/partnershipopportunities/">Partnership Opportunities</a></li>
                        <li><a href="/donorfundedseats/">Donor-Funded Seats</a></li>
                      </ul>
                    </li>

                    <li>
                      <a href="/resources/">Resources</a>
                      <ul class="submenu">
                        <li><a href="/blogs/">Career Blog</a></li>
                        <li><a href="/careerday/">Career Day</a></li>
                        <li><a href="/webinars/">Webinars</a></li>
                        <li><a href="/meetups/">Meetups</a></li>
                      </ul>
                    </li>

                    <li>
                      <a href="/about/">about</a>
                      <ul class="submenu">
                        <li><a href="/misionandvalues/">Mission & Values</a></li>
                        <li><a href="/ourteam/">Our Team</a></li>
                        <li><a href="/studentoutcomes/">Student Outcomes</a></li>
                      </ul>
                    </li>

                    <li><a href="/contact/">Contact</a></li>
                  </ul>
              </nav>
            </div>

            <!-- Desktop Apply (only xl and up) -->
            <div class="header__btn ml-20 d-none d-xl-block">
              <a href="/application/" class="e-btn">Apply <i class="fa fa-arrow-right"></i></a>
            </div>

            <!-- Mobile Apply (shows under xl) -->
            <div class="header__btn ml-10 d-xl-none">
              <a href="/application/" class="e-btn e-btn-sm">Apply</a>
            </div>

            <!-- Mobile Hamburger (shows under xl) 
            <div class="sidebar__menu d-xl-none">
              <button class="cte-hamburger ml-10" id="sidebar-toggle" type="button" aria-label="Open menu">
                <span></span><span></span><span></span>
              </button>
            </div>
-->
  <div class="sidebar__menu d-xl-none">
  <button class="cte-hamburger" id="sidebar-toggle" type="button" aria-label="Open menu">
    <span></span>
    <span></span>
    <span></span>
  </button>
</div>

          </div>
        </div>

      </div>
    </div>
  </div>
</header>

