<header>
  <div id="header-sticky" class="header__area header__transparent header__padding">
    <div class="container-fluid">
      <div class="row align-items-center">

        <!-- LEFT: Logo + Hamburger (same white bar) -->
        <div class="col-6 col-lg-4">
          <div class="header__left cte-brandbar">
            <div class="logo">
              <a href="/">
                <img src="/static/img/logo/logo.png" alt="logo">
              </a>
            </div>

            <!-- Mobile hamburger right next to logo -->
            <div class="sidebar__menu d-xl-none">
              <button class="cte-hamburger" id="sidebar-toggle" type="button" aria-label="Open menu">
                <span></span><span></span><span></span>
              </button>
            </div>
          </div>
        </div>

        <!-- RIGHT: Desktop nav + Apply -->
        <div class="col-6 col-lg-8">
          <div class="header__right d-flex justify-content-end align-items-center">

            <div class="main-menu d-none d-xl-block">
              <nav id="mobile-menu">
                <ul style="white-space: nowrap;">
                  <!-- your existing <li> menu items unchanged -->
                </ul>
              </nav>
            </div>

            <div class="header__btn ml-20 d-none d-sm-block">
              <a href="/application/" class="e-btn">Apply<i class="fa fa-arrow-right"></i></a>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</header>

